---
import { holiday } from "@lib/database/schema";
import { getDays } from "@lib/utils/date";

import * as m from "@paraglide/messages";

interface Props {
  holidays: (typeof holiday.$inferSelect)[];
  year: number;
  month: number;
  footer?: boolean;
}

const { holidays, year, month, footer = false } = Astro.props;

const days = getDays(year, month, holidays, Astro.preferredLocale);
---

<tr>
  <td class="font-bold text-left px-4 border-1">{!footer ? m.employees() : m.counts_on_shifts()}</td>
  {
    days.map((d) => {
      return (
        <td
          class:list={[
            "text-center border-1",
            {
              "bg-custom-holiday text-gray-100": d.isFree,
              "bg-gray-300 text-gray-800": d.isToday,
              "bg-gray-50 text-gray-800": !d.isFree && !d.isToday,
            },
          ]}
          title={d.customHolidayName}
        >
          {d.idx}
          <br />
          <span class="text-[0.75rem]">{d.shortDay}</span>
        </td>
      );
    })
  }
  {!footer ? <td class="px-2 border-1">{m.total_hours()}</td> : null}
</tr>
