---
import Subpage from "@layouts/Subpage.astro";

import Employees from "@components/teams/Employees.svelte";
import Groups from "@components/teams/Groups.svelte";

import { db } from "@lib/database";
import { team } from "@lib/database/schema";

import { eq } from "drizzle-orm";

const { id } = Astro.params;

const _team = (
  await db
    .select()
    .from(team)
    .where(eq(team.id, Number(id)))
)[0];
---

<Subpage title=`Team ${_team.name}`>
  <div class="flex flex-col gap-8">
    <Groups teamId={id} client:load="svelte" />

    <Employees teamId={id} client:load="svelte" />
  </div>
</Subpage>
