---
import Navbar from "@components/Navbar.svelte";

interface Props {
  title: string;
  subpage?: boolean;
}

const { title, subpage = false } = Astro.props;

const session = Astro.locals.session;

import "../style.css";
---

<html lang={Astro.preferredLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="schedplanner" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script src="https://rybbit.przekichane.pl/api/script.js" data-site-id="4" defer></script>
  </head>
  <body class="text-stone-900 bg-stone-100 dark:text-stone-100 dark:bg-stone-800">
    <Navbar client:load="svelte" session={session} />
    <main transition:animate="fade" class:list={subpage ? "container p-4 lg:p-12 mx-auto min-h-[calc(100vh-5rem)]" : "min-h-[calc(100vh-5rem)]"}>
      <slot />
    </main>
  </body>
</html>
