---
import Layout from "@layouts/Layout.astro";
import Table from "@components/holidays/Table.svelte";

import * as m from "@paraglide/messages";
---

<Layout title="Holidays" subpage>
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-4">
      <h3 class="font-bold text-3xl">{m.holidays()}</h3>

      <Table client:load="svelte" />
    </div>
  </div>
</Layout>
